*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home1_4{
    padding: 90px;
    background-color: black;
    display: flex;
    color: white;
}

.home1_4 .home1_1_4img img{
    width: 95%;
}

.home1_4 .home14para2{
    position: relative;
}

.home1_4 .home14para2 .home14para22{
    position: absolute;
    top: 0;
    left: -10%;
}


@media screen and (max-width: 1200px){
    .home1_4 .home14para2 .home14para22{
        top: 0;
        left: 0;
    }

    .home1_4 .home14p2{
        justify-self: flex-start;
        padding-top: 250px;
    }
}

@media screen and (max-width: 1000px){
    .home1_4 {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px){
    .home1_4 {
        padding: 50px 10px;
    }
}