*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media screen and (max-width: 800px){
    .movie1{
        height: 40vh;
    }
}

@media screen and (max-width: 500px){
    .movie1{
        height: 30vh;
    }
}